backcall
cached-property
Click
decorator
ipython
ipython-genutils
jedi
mysqlclient
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
simplegeneric
six
SQLAlchemy
toml
tornado
traitlets
wcwidth
zc.buildout
