backcall
cached-property
certifi
chardet
Click
decorator
idna
importlib-metadata
inflect
ipython
ipython-genutils
jedi
mysqlclient
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
pycrypto
Pygments
requests
simplegeneric
six
sqlacodegen
SQLAlchemy
toml
tornado
traitlets
urllib3
wcwidth
zc.buildout
zipp
